In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [33]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
%autoreload 2

In [49]:
from investing.data import bse

In [181]:
df = bse.sensex()

In [182]:
df.close.plot()

In [183]:
plt.show()

In [184]:
df.head(24)

,high,low,close,pe,pb,dividend_yield,y1,y2,y3,y5,y10,ay1,ay2,ay3,ay5,ay10
date,,,,,,,,,,,,,,,,
1998-04-01,4322.00,3901.44,4006.81,16.55,2.83,1.35,-0.169991,0.162408,-0.121705,-0.261310,3.314482,-0.169991,0.078150,-0.042335,-0.058777,0.157425
1998-05-01,4156.58,3589.24,3686.39,15.74,2.69,1.42,0.075187,0.202697,-0.014779,-0.137164,3.453020,0.075187,0.096675,-0.004951,-0.029075,0.161089
1998-06-01,3823.15,2951.45,3250.69,13.32,2.28,1.69,0.273800,0.460850,0.063399,0.109651,3.141152,0.273800,0.208656,0.020701,0.021027,0.152689
1998-07-01,3525.90,3079.43,3211.31,12.91,2.23,1.81,0.414482,0.332746,0.036736,0.181016,3.470372,0.414482,0.154446,0.012098,0.033835,0.161541
1998-08-01,3163.28,2838.99,2933.85,11.46,1.92,2.06,0.669550,0.526087,0.106038,0.446812,3.964306,0.669550,0.235349,0.034165,0.076670,0.173778
1998-09-01,3266.71,2850.30,3102.29,11.50,1.92,2.08,0.535775,0.318503,-0.093702,0.435469,3.145464,0.535775,0.148261,-0.032264,0.074976,0.152809
1998-10-01,3045.54,2741.22,2812.49,10.27,1.73,2.29,0.580294,0.319478,0.062884,0.744671,2.480211,0.580294,0.148686,0.020537,0.117745,0.132819
1998-11-01,3027.20,2741.70,2810.66,10.91,1.95,2.10,0.644528,0.422438,0.169675,0.794888,2.235084,0.644528,0.192660,0.053631,0.124107,0.124575
1998-12-01,3118.59,2790.32,3055.41,11.65,2.16,1.95,0.638346,0.300028,0.067722,0.911023,2.157452,0.638346,0.140188,0.022083,0.138291,0.121847
1999-01-01,3515.49,3042.25,3315.57,12.95,2.39,1.75,0.569953,0.304970,-0.001369,0.717855,1.842419,0.569953,0.142353,-0.000457,0.114288,0.110117
1999-02-01,3406.28,3157.70,3399.63,12.99,2.40,1.75,0.602227,0.249265,0.047852,0.667096,1.615464,0.602227,0.117705,0.015703,0.107623,0.100918
1999-03-01,3817.94,3417.22,3739.96,14.59,2.69,1.55,0.337255,-0.036252,-0.072356,0.494829,1.595883,0.337255,-0.018293,-0.024725,0.083723,0.100091
1999-04-01,3754.73,3183.47,3325.69,13.77,2.55,1.65,0.400476,0.058174,0.003750,0.700426,2.428837,0.400476,0.028676,0.001248,0.112017,0.131136
1999-05-01,4197.08,3363.06,3963.56,15.76,2.91,1.44,0.118593,-0.083675,-0.211383,0.200845,2.689928,0.118593,-0.042751,-0.076106,0.037283,0.139467
1999-06-01,4285.99,3830.15,4140.73,16.53,3.06,1.37,0.146844,-0.165176,-0.216394,0.158119,2.500310,0.146844,-0.086313,-0.078067,0.029795,0.133472
1999-07-01,4810.33,4120.73,4542.34,18.40,3.40,1.23,-0.057785,-0.267056,-0.342266,0.138250,2.449832,-0.057785,-0.143879,-0.130339,0.026237,0.131826
1999-08-01,4965.79,4470.52,4898.21,19.87,3.47,1.20,-0.085929,-0.337523,-0.350532,0.059995,2.198442,-0.085929,-0.186073,-0.133997,0.011721,0.123295
1999-09-01,4914.12,4513.55,4764.42,20.41,3.48,1.18,-0.141474,-0.409876,-0.372146,0.171939,2.594738,-0.141474,-0.231805,-0.143713,0.032241,0.136493
1999-10-01,5150.99,4368.85,4444.56,21.01,3.56,1.15,-0.165042,-0.327414,-0.336420,0.276228,2.576570,-0.165042,-0.179886,-0.127770,0.049991,0.135917
1999-11-01,4770.11,4209.41,4622.21,19.99,3.32,1.23,-0.135048,-0.288747,-0.301455,0.348768,2.661932,-0.135048,-0.156642,-0.112712,0.061665,0.138600
1999-12-01,5077.23,4584.74,5005.82,20.91,3.45,1.17,-0.206500,-0.348293,-0.325329,0.319003,2.488901,-0.206500,-0.192716,-0.122937,0.056937,0.133102
2000-01-01,5668.28,5184.48,5205.29,23.34,3.84,1.05,-0.168784,-0.363911,-0.375562,0.259476,2.142565,-0.168784,-0.202448,-0.145268,0.047220,0.121317
2000-02-01,6150.69,5127.79,5446.98,24.32,3.98,1.00,-0.220295,-0.346003,-0.397160,0.232584,2.016268,-0.220295,-0.191299,-0.155238,0.042709,0.116727
2000-03-01,5828.79,4867.23,5001.28,22.69,3.71,1.08,-0.279308,-0.306308,-0.390412,0.298232,2.504657,-0.279308,-0.167118,-0.152098,0.053587,0.133612

In [55]:
df.tail(25)

,high,low,close,pe,pb,dividend_yield,y1,y2,y3,y5,y10
date,,,,,,,,,,,
2015-01-01,29844.16,26776.12,29182.95,19.20,3.06,1.20,-0.147766,-0.083053,NaN,NaN,NaN
2015-02-01,29560.32,28044.49,29361.50,19.68,3.09,1.16,-0.216593,NaN,NaN,NaN,NaN
2015-03-01,30024.74,27248.45,27957.49,19.51,3.06,1.24,-0.093557,NaN,NaN,NaN,NaN
2015-04-01,29094.61,26897.54,27011.31,19.39,3.03,1.25,-0.052004,NaN,NaN,NaN,NaN
2015-05-01,28071.16,26423.99,27828.44,19.85,2.95,1.38,-0.041701,NaN,NaN,NaN,NaN
2015-06-01,27968.75,26307.07,27780.83,20.74,2.95,1.37,-0.028117,NaN,NaN,NaN,NaN
2015-07-01,28578.33,27416.39,28114.56,22.50,3.07,1.31,-0.002230,NaN,NaN,NaN,NaN
2015-08-01,28417.59,25298.42,26283.09,21.85,2.96,1.34,0.082528,NaN,NaN,NaN,NaN
2015-09-01,26471.82,24833.54,26154.83,20.58,2.78,1.42,0.065423,NaN,NaN,NaN,NaN
2015-10-01,27618.14,26168.71,26656.83,21.79,2.94,1.36,0.047769,NaN,NaN,NaN,NaN
2015-11-01,26824.30,25451.42,26145.67,20.61,2.75,1.43,0.019397,NaN,NaN,NaN,NaN
2015-12-01,26256.42,24867.73,26117.54,19.88,2.73,1.43,0.019486,NaN,NaN,NaN,NaN
2016-01-01,26197.27,23839.76,24870.69,18.49,2.71,1.45,0.075934,NaN,NaN,NaN,NaN
2016-02-01,25002.32,22494.61,23002.00,17.48,2.55,1.52,NaN,NaN,NaN,NaN,NaN
2016-03-01,25479.62,23133.18,25341.86,18.64,2.71,1.46,NaN,NaN,NaN,NaN,NaN
2016-04-01,26100.54,24523.20,25606.62,19.27,2.80,1.43,NaN,NaN,NaN,NaN,NaN
2016-05-01,26837.20,25057.93,26667.96,19.01,2.74,1.50,NaN,NaN,NaN,NaN,NaN
2016-06-01,27105.41,25911.33,26999.72,19.52,2.82,1.46,NaN,NaN,NaN,NaN,NaN
2016-07-01,28240.20,27034.14,28051.86,20.25,2.94,1.41,NaN,NaN,NaN,NaN,NaN
2016-08-01,28532.25,27627.97,28452.17,20.59,2.95,1.39,NaN,NaN,NaN,NaN,NaN
2016-09-01,29077.28,27716.78,27865.96,21.23,2.99,1.37,NaN,NaN,NaN,NaN,NaN
2016-10-01,28477.65,27488.30,27930.21,21.10,2.89,1.40,NaN,NaN,NaN,NaN,NaN
2016-11-01,28029.80,25717.93,26652.81,20.57,2.71,1.47,NaN,NaN,NaN,NaN,NaN
2016-12-01,26803.76,25753.74,26626.46,20.56,2.68,1.49,NaN,NaN,NaN,NaN,NaN
2017-01-01,27009.61,26447.06,26759.23,20.83,2.71,1.47,NaN,NaN,NaN,NaN,NaN

In [71]:
df.plot(kind='scatter', x='pe', y='y3')
plt.show()

In [142]:
smf.ols('y3 ~ dividend_yield', data=df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     y3   R-squared:                       0.596
Model:                            OLS   Adj. R-squared:                  0.594
Method:                 Least Squares   F-statistic:                     277.6
Date:                Mon, 09 Jan 2017   Prob (F-statistic):           7.12e-39
Time:                        15:37:47   Log-Likelihood:                -117.09
No. Observations:                 190   AIC:                             238.2
Df Residuals:                     188   BIC:                             244.7
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept         -1.5446      0.131    -11.807      0.000        -1.803    -1.287
dividend_yield     1.3620      0.082     16.661      0.000         1.201     1.523
==============================================================================
Omnibus:                        6.814   Durbin-Watson:                   0.187
Prob(Omnibus):                  0.033   Jarque-Bera (JB):               11.365
Skew:                          -0.053   Prob(JB):                      0.00340
Kurtosis:                       4.194   Cond. No.                         8.79
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [152]:
pd.scatter_matrix(df[['pe', 'pb', 'dividend_yield', 'y1', 'y2', 'y3', 'y5', 'y10']], diagonal='kde')

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x000000001B9B1320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B846588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B888B70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B8BD390>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B902588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B9EA320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001BA38A90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B9FCFD0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000001BABD860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001BB07978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001C397B70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001C3E74A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001C41CDD8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001C467E10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001C4A8C18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001C4F8630>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000001C5107F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001B244828>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000019AB7438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000014F2B9E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000014E0EDA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000146D6940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000136FCC18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000014FD3EB8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000138A5B38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000136E36D8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000137852B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000013794F98>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000111297F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000120FF198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001384B860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000160B72B0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000001114C6D8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001097C7F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000110165F8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000013862C88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000110C8E10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000136ACD68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001399BE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000138F3080>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000134102B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000014658EB8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000111197F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001380FE48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000013411978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001213CD68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001374C438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001388A668>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000160D52E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000110F7320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000137C6550>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000013833710>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001324E128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000160378D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000014669DD8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001CC48710>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000145C8940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000146A9358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001398A320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000014626668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000145EB9B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001454F4A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001455C518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000144D2A90>]], dtype=object)

In [153]:
plt.show()

In [154]:
df.y1.describe()

count    214.000000
mean       0.165022
std        0.301420
min       -0.530412
25%       -0.051861
50%        0.127416
75%        0.389749
max        0.956727
Name: y1, dtype: float64

In [156]:
df[['y1']].boxplot()

C:\Users\cande\Applications\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning:
The default value for 'return_type' will change to 'axes' in a future release.
 To use the future behavior now, set return_type='axes'.
 To keep the previous behavior and silence this warning, set return_type='dict'.
  if __name__ == '__main__':

{'boxes': [<matplotlib.lines.Line2D at 0x1bad10b8>],
 'caps': [<matplotlib.lines.Line2D at 0x1ba45f98>,
  <matplotlib.lines.Line2D at 0x1b8cf9b0>],
 'fliers': [<matplotlib.lines.Line2D at 0x1b9be128>],
 'means': [],
 'medians': [<matplotlib.lines.Line2D at 0x1b896cc0>],
 'whiskers': [<matplotlib.lines.Line2D at 0x1bb1c978>,
  <matplotlib.lines.Line2D at 0x1ba5a240>]}

In [158]:
df.describe()

,high,low,close,pe,pb,dividend_yield,y1,y2,y3,y5,y10
count,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,214.000000,202.000000,190.000000,166.000000,106.000000
mean,13503.957788,12313.922080,13003.576504,18.410088,3.320398,1.521416,0.165022,0.339055,0.565860,1.203455,3.192339
std,8500.267530,8017.496038,8320.662566,3.338986,0.912495,0.374922,0.301420,0.468625,0.707105,1.243820,1.169575
min,3027.200000,2594.870000,2810.660000,10.270000,1.730000,0.850000,-0.530412,-0.409876,-0.397160,-0.261310,0.899041
25%,4915.497500,4213.932500,4562.307500,16.400000,2.710000,1.230000,-0.051861,-0.026428,0.096796,0.341406,2.434086
50%,14180.610000,12370.810000,13266.850000,18.285000,3.055000,1.455000,0.127416,0.258498,0.328352,0.718281,3.185817
75%,19721.665000,18141.130000,19067.355000,20.587500,3.725000,1.757500,0.389749,0.668949,0.860377,1.534495,4.123119
max,30024.740000,28044.490000,29361.500000,29.390000,6.540000,2.520000,0.956727,1.513582,3.068721,5.726293,5.589718

In [159]:
df.tail(2)

,high,low,close,pe,pb,dividend_yield,y1,y2,y3,y5,y10
date,,,,,,,,,,,
2016-12-01,26803.76,25753.74,26626.46,20.56,2.68,1.49,NaN,NaN,NaN,NaN,NaN
2017-01-01,27009.61,26447.06,26759.23,20.83,2.71,1.47,NaN,NaN,NaN,NaN,NaN

In [162]:
df[['y1', 'y2', 'y3', 'y5', 'y10']].boxplot()

C:\Users\cande\Applications\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning:
The default value for 'return_type' will change to 'axes' in a future release.
 To use the future behavior now, set return_type='axes'.
 To keep the previous behavior and silence this warning, set return_type='dict'.
  if __name__ == '__main__':

{'boxes': [<matplotlib.lines.Line2D at 0x1e2fc9b0>,
  <matplotlib.lines.Line2D at 0x1e30ce10>,
  <matplotlib.lines.Line2D at 0x1e320780>,
  <matplotlib.lines.Line2D at 0x1e3a50f0>,
  <matplotlib.lines.Line2D at 0x1e3b4a20>],
 'caps': [<matplotlib.lines.Line2D at 0x1e301d30>,
  <matplotlib.lines.Line2D at 0x1e306c88>,
  <matplotlib.lines.Line2D at 0x1e316da0>,
  <matplotlib.lines.Line2D at 0x1e316eb8>,
  <matplotlib.lines.Line2D at 0x1e325fd0>,
  <matplotlib.lines.Line2D at 0x1e32af28>,
  <matplotlib.lines.Line2D at 0x1e3abf60>,
  <matplotlib.lines.Line2D at 0x1e3af898>,
  <matplotlib.lines.Line2D at 0x1e3bf9b0>,
  <matplotlib.lines.Line2D at 0x1e3bfac8>],
 'fliers': [<matplotlib.lines.Line2D at 0x1e30ccf8>,
  <matplotlib.lines.Line2D at 0x1e31af28>,
  <matplotlib.lines.Line2D at 0x1e3a0f98>,
  <matplotlib.lines.Line2D at 0x1e3b4908>,
  <matplotlib.lines.Line2D at 0x1e3c4b38>],
 'means': [],
 'medians': [<matplotlib.lines.Line2D at 0x1e306da0>,
  <matplotlib.lines.Line2D at 0x1e31a710>,
  <matplotlib.lines.Line2D at 0x1e3a0080>,
  <matplotlib.lines.Line2D at 0x1e3af9b0>,
  <matplotlib.lines.Line2D at 0x1e3c4320>],
 'whiskers': [<matplotlib.lines.Line2D at 0x1e2fcb70>,
  <matplotlib.lines.Line2D at 0x1e301c18>,
  <matplotlib.lines.Line2D at 0x1e30fd30>,
  <matplotlib.lines.Line2D at 0x1e30fe48>,
  <matplotlib.lines.Line2D at 0x1e320ef0>,
  <matplotlib.lines.Line2D at 0x1e325eb8>,
  <matplotlib.lines.Line2D at 0x1e3a5fd0>,
  <matplotlib.lines.Line2D at 0x1e3ab828>,
  <matplotlib.lines.Line2D at 0x1e3ba940>,
  <matplotlib.lines.Line2D at 0x1e3baa58>]}

In [163]:
plt.show()

In [176]:
ax = df.plot(kind='scatter', x='pe', y='y1')
ax.axhline(0)
ax.axvline(df.pe.median())

In [177]:
plt.show()

In [175]:
df.sort_values(by='y10', ascending=False)

,high,low,close,pe,pb,dividend_yield,y1,y2,y3,y5,y10
date,,,,,,,,,,,
2003-04-01,3221.90,2904.44,2959.79,13.21,2.06,2.37,0.910639,1.079350,3.068721,4.840722,5.589718
2002-10-01,3038.92,2828.48,2949.32,12.68,2.02,2.42,0.663729,0.923247,1.675980,5.726293,5.274456
2002-09-01,3227.62,2973.97,2991.36,13.13,2.17,2.32,0.488701,0.866579,1.886473,4.780347,5.272311
2003-05-01,3200.48,2934.78,3180.75,13.21,2.06,2.39,0.496383,1.111172,2.269232,4.160912,5.212466
2003-03-01,3311.57,3039.83,3048.72,13.74,2.14,2.28,0.833753,1.129687,2.699900,4.131478,5.178255
2003-01-01,3416.92,3199.18,3250.38,14.43,2.25,2.17,0.752309,1.016976,2.051917,4.429737,5.120817
2002-11-01,3245.98,2928.63,3228.82,13.22,2.07,2.36,0.562435,0.930826,1.721988,4.996987,4.989773
2001-10-01,3083.65,2718.41,2989.35,14.29,2.04,2.29,-0.013391,0.641450,0.897493,3.336026,4.922696
2001-09-01,3267.93,2594.87,2811.60,15.20,2.07,2.19,0.063935,0.583881,0.985919,3.429656,4.852098
2002-07-01,3366.74,2932.35,2987.65,15.34,2.30,2.19,0.269429,0.730564,1.555661,4.205091,4.769143
2002-12-01,3413.83,3186.62,3377.28,14.37,2.24,2.18,0.728894,0.955032,1.782692,5.006902,4.752176
2003-02-01,3341.61,3218.37,3283.66,14.22,2.22,2.20,0.725973,1.044627,2.158135,4.353392,4.744060
2002-08-01,3185.08,2931.78,3181.23,13.63,2.13,2.52,0.334305,0.632098,1.453589,3.815307,4.478875
2001-07-01,3513.79,3241.66,3329.28,16.28,2.40,1.85,-0.102614,0.139168,0.552984,2.227088,4.465806
2001-06-01,3651.32,3287.94,3456.78,17.49,2.49,1.78,-0.061352,0.043494,0.387262,2.069113,4.451857
2001-04-01,3676.82,3096.51,3519.16,18.09,2.58,1.70,-0.051433,-0.158950,0.606943,2.421998,4.437650
2000-10-01,4197.39,3491.55,3711.02,19.57,2.81,1.58,-0.194467,-0.205254,0.322243,1.126725,4.398068
2001-03-01,4386.98,3436.75,3604.38,19.72,2.82,1.56,-0.037463,-0.154162,0.551057,2.129515,4.394886
2003-06-01,3632.84,3170.38,3607.13,14.61,2.26,2.21,0.329439,0.994342,1.941189,2.731942,4.377075
2002-06-01,3377.88,3148.57,3244.70,15.92,2.34,2.05,0.111699,0.477936,1.217108,3.515213,4.371831
2004-06-01,5012.52,4613.94,4795.46,14.76,2.81,2.37,0.500138,1.212353,2.055079,2.022409,4.299550
2002-01-01,3466.73,3236.76,3311.03,16.35,2.38,1.99,-0.018318,0.720211,0.980030,3.255751,4.192810
2002-05-01,3478.02,3097.73,3125.73,16.19,2.37,2.01,0.017602,0.522723,1.148333,3.653140,4.188718
2002-04-01,3538.49,3296.88,3338.16,16.83,2.47,1.93,-0.113347,0.694074,0.843662,3.155694,4.188131
2000-12-01,4332.65,3803.69,3972.12,20.84,2.97,1.49,-0.178693,-0.149754,0.469986,1.365973,4.163260
2001-08-01,3359.07,3241.12,3244.95,16.69,2.36,1.92,-0.019637,0.308103,0.600049,2.605310,4.139293
2004-08-01,5269.22,5022.29,5192.08,15.28,2.86,2.26,0.503334,1.253249,1.950378,2.017411,4.130528
2003-07-01,3835.75,3534.06,3792.61,14.73,2.36,2.16,0.363262,1.013236,1.832846,2.785190,4.100894
2001-05-01,3759.96,3420.14,3631.91,18.86,2.66,1.62,-0.139370,-0.124221,0.310501,1.863124,4.094642
2004-05-01,5772.64,4227.50,4759.62,17.28,3.26,1.93,0.410850,1.184756,2.055803,2.072777,4.088083
...,...,...,...,...,...,...,...,...,...,...,...
2014-08-01,26674.38,25232.82,26638.11,18.17,2.90,1.30,-0.013328,0.068100,NaN,NaN,NaN
2014-09-01,27354.99,26220.49,26630.51,18.52,2.97,1.26,-0.017862,0.046392,NaN,NaN,NaN
2014-10-01,27894.32,25910.77,27865.83,18.31,2.93,1.27,-0.043386,0.002310,NaN,NaN,NaN
2014-11-01,28822.37,27739.56,28693.99,19.21,3.04,1.21,-0.088810,-0.071136,NaN,NaN,NaN
2014-12-01,28809.64,26469.42,27499.42,18.84,2.96,1.23,-0.050251,-0.031745,NaN,NaN,NaN
2015-01-01,29844.16,26776.12,29182.95,19.20,3.06,1.20,-0.147766,-0.083053,NaN,NaN,NaN
2015-02-01,29560.32,28044.49,29361.50,19.68,3.09,1.16,-0.216593,NaN,NaN,NaN,NaN
2015-03-01,30024.74,27248.45,27957.49,19.51,3.06,1.24,-0.093557,NaN,NaN,NaN,NaN
2015-04-01,29094.61,26897.54,27011.31,19.39,3.03,1.25,-0.052004,NaN,NaN,NaN,NaN
2015-05-01,28071.16,26423.99,27828.44,19.85,2.95,1.38,-0.041701,NaN,NaN,NaN,NaN
2015-06-01,27968.75,26307.07,27780.83,20.74,2.95,1.37,-0.028117,NaN,NaN,NaN,NaN
2015-07-01,28578.33,27416.39,28114.56,22.50,3.07,1.31,-0.002230,NaN,NaN,NaN,NaN
2015-08-01,28417.59,25298.42,26283.09,21.85,2.96,1.34,0.082528,NaN,NaN,NaN,NaN
2015-09-01,26471.82,24833.54,26154.83,20.58,2.78,1.42,0.065423,NaN,NaN,NaN,NaN
2015-10-01,27618.14,26168.71,26656.83,21.79,2.94,1.36,0.047769,NaN,NaN,NaN,NaN
2015-11-01,26824.30,25451.42,26145.67,20.61,2.75,1.43,0.019397,NaN,NaN,NaN,NaN
2015-12-01,26256.42,24867.73,26117.54,19.88,2.73,1.43,0.019486,NaN,NaN,NaN,NaN
2016-01-01,26197.27,23839.76,24870.69,18.49,2.71,1.45,0.075934,NaN,NaN,NaN,NaN
2016-02-01,25002.32,22494.61,23002.00,17.48,2.55,1.52,NaN,NaN,NaN,NaN,NaN
2016-03-01,25479.62,23133.18,25341.86,18.64,2.71,1.46,NaN,NaN,NaN,NaN,NaN
2016-04-01,26100.54,24523.20,25606.62,19.27,2.80,1.43,NaN,NaN,NaN,NaN,NaN
2016-05-01,26837.20,25057.93,26667.96,19.01,2.74,1.50,NaN,NaN,NaN,NaN,NaN
2016-06-01,27105.41,25911.33,26999.72,19.52,2.82,1.46,NaN,NaN,NaN,NaN,NaN
2016-07-01,28240.20,27034.14,28051.86,20.25,2.94,1.41,NaN,NaN,NaN,NaN,NaN
2016-08-01,28532.25,27627.97,28452.17,20.59,2.95,1.39,NaN,NaN,NaN,NaN,NaN
2016-09-01,29077.28,27716.78,27865.96,21.23,2.99,1.37,NaN,NaN,NaN,NaN,NaN
2016-10-01,28477.65,27488.30,27930.21,21.10,2.89,1.40,NaN,NaN,NaN,NaN,NaN
2016-11-01,28029.80,25717.93,26652.81,20.57,2.71,1.47,NaN,NaN,NaN,NaN,NaN
2016-12-01,26803.76,25753.74,26626.46,20.56,2.68,1.49,NaN,NaN,NaN,NaN,NaN
2017-01-01,27009.61,26447.06,26759.23,20.83,2.71,1.47,NaN,NaN,NaN,NaN,NaN

In [198]:
ax = df[['ay1', 'ay2', 'ay3', 'ay5', 'ay10']].boxplot(return_type='axes')
ax.axhline(0.08)

In [199]:
plt.show()

In [197]:
df[df.ay5 < 0.08][['pe', 'pb', 'dividend_yield', 'ay5']]

               pe    pb  dividend_yield       ay5
date
1998-04-01  16.55  2.83            1.35 -0.058777
1998-05-01  15.74  2.69            1.42 -0.029075
1998-06-01  13.32  2.28            1.69  0.021027
1998-07-01  12.91  2.23            1.81  0.033835
1998-08-01  11.46  1.92            2.06  0.076670
1998-09-01  11.50  1.92            2.08  0.074976
1999-05-01  15.76  2.91            1.44  0.037283
1999-06-01  16.53  3.06            1.37  0.029795
1999-07-01  18.40  3.40            1.23  0.026237
1999-08-01  19.87  3.47            1.20  0.011721
1999-09-01  20.41  3.48            1.18  0.032241
1999-10-01  21.01  3.56            1.15  0.049991
1999-11-01  19.99  3.32            1.23  0.061665
1999-12-01  20.91  3.45            1.17  0.056937
2000-01-01  23.34  3.84            1.05  0.047220
2000-02-01  24.32  3.98            1.00  0.042709
2000-03-01  22.69  3.71            1.08  0.053587
2000-04-01  27.79  4.37            0.90  0.057319
2006-08-01  19.60  4.53            1.39  0.073476
2006-09-01  20.73  4.62            1.34  0.057276
2006-10-01  21.56  4.74            1.34  0.064353
2006-11-01  22.07  5.05            1.25  0.033168
2006-12-01  22.51  5.15            1.23  0.023104
2007-01-01  22.73  5.30            1.19  0.040603
2007-02-01  21.56  5.38            1.18  0.065317
2007-03-01  19.84  4.95            1.28  0.058917
2007-04-01  20.75  5.13            1.21  0.045378
2007-05-01  20.84  4.95            1.15  0.022028
2007-06-01  20.67  4.78            1.15  0.035354
2007-07-01  21.78  4.98            1.07  0.020790
2007-08-01  19.99  4.80            1.14  0.026156
2007-09-01  21.69  5.16            1.11  0.016470
2007-10-01  24.86  5.89            0.97 -0.013811
2007-11-01  25.44  6.13            0.90 -0.000241
2007-12-01  26.94  6.54            0.85 -0.008629
2008-01-01  25.53  6.35            0.88  0.024250
2008-02-01  22.23  5.71            0.97  0.014187
2008-03-01  20.18  5.19            1.07  0.037826
2008-04-01  20.71  5.22            1.03  0.024425
2008-05-01  20.66  4.82            1.01  0.037785
2008-06-01  18.22  4.09            1.14  0.075777
2008-07-01  17.06  3.59            1.36  0.061480
2008-08-01  18.25  3.81            1.26  0.050353
2010-08-01  21.61  3.45            1.15  0.078997
2010-09-01  22.99  3.66            1.09  0.054398
2010-10-01  23.89  3.82            1.04  0.058803
2010-11-01  23.03  3.71            1.06  0.060177
2010-12-01  22.93  3.73            1.05  0.049536
2011-01-01  22.00  3.62            1.08  0.062957
2011-02-01  19.67  3.40            1.16  0.052337
2011-03-01  20.04  3.46            1.13  0.054399
2011-04-01  21.05  3.65            1.07  0.059987
2011-05-01  19.59  3.45            1.14  0.075841
2011-06-01  19.37  3.55            1.16  0.074555

In [195]:
plt.show()